.container {
  max-width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
